@charset="UTF-8";

div#header {
    background-color: #99FFCC;
    height: 40px;
    width: 100%;
}

#login_form {
    background-color: green;
    height: 260px;
    width: auto;
    border: 1px solid black;
    margin: auto;
    padding: 50px;
}

div#footer {
    background-color: yellow;
    height: 40px;
    width: 100%;
}

body {
    background-color: lightblue;
}

.contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.left-side {
    background-color: green;
    width: 30%;
    float: left;
}

.right-side {
    background-color: blue;
    width: 70%;
    float: left;
}

.topicmodal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.topicmodal_bg {
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.topicmoda-form {
    background-color: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
